body {
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menu {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1;
}

#hamburger {
  cursor: pointer;
  padding: 16px;
  width: 42px;
}

#hamburger > div {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #000;
  height: 4px;
  margin: 4px;
  width: 32px;
}

#controls {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  border: 2px solid #bbb;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Courier, monospace;
  font-size: 16px;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  margin: 0 16px;
  padding: 4px 8px;
  /* Enable scrolling for short screens */
  max-height: calc(100vh - 95px);
  overflow: scroll;
  place-content: baseline;
}

#controls > * {
  margin: 8px 0;
  z-index: 1;
}

#controls.hidden {
  display: none;
}

#upload {
  font-size: 14px;
  width: 256px;
}

.control-row input[type="number"] {
  font-size: 16px;
  font-family: Courier, monospace;
  width: 72px;
}

.control-row {
  padding: 4px;
  user-select: none;
}

.control-row button {
  background-color: #fff;
  border-radius: 4px;
  color: #000;
  font-family: Courier, monospace;
  font-size: 20px;
}

.control-row span {
  float: right;
  margin-left: 8px;
}

#download {
  color: #fff;
}

.control-row .link {
  color: #fff;
  float: right;
  margin-bottom: 4px;
}

.control-row input[type="checkbox"] {
  margin: 0;
  height: 16px;
  width: 16px;
}

.control-row .mobile {
  display: none;
}

@media (max-width: 768px) {
  .control-row .desktop {
    display: none;
  }
  .control-row .mobile {
    display: unset;
  }
}

#canvas {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
}
